---

---

<section id="services" class="w-full px-5 pt-4 pb-28">
  <h2
    class="max-w-5xl mx-auto text-4xl font-bold tracking-wider opacity-15 mb-4"
  >
    ~ SERVICES
  </h2>
  <div
    class="max-w-5xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 grid-rows-[repeat(5,_minmax(280px,_auto))] sm:grid-rows-[repeat(3,_minmax(280px,_auto))] md:grid-rows-[repeat(2,_minmax(280px,_auto))] md:max-[850px]:grid-rows-[repeat(2,_minmax(200px,_auto))] gap-10 [&>*]:rounded-md"
  >
    <div
      class="relative row-start-1 row-end-3 flex flex-col rounded-sm overflow-hidden bg-neutral-50 dark:bg-neutral-950"
    >
      <div
        class="flex-1 hover:flex-[10] transition-all tracking-wider grid content-center justify-center text-center font-bold text-4xl text-wine"
      >
        <span>FRONT</span><span>END</span>
      </div>

      <img
        class="block bottom-full w-full object-cover pointer-events-none translate-y-1"
        src="./waves-0.svg"
        alt="waves"
      />
      <div
        class="flex-1 hover:flex-[10] transition-all relative h-45% bg-wine text-zinc-100 tracking-wider grid content-center justify-center text-center font-bold text-4xl"
      >
        <span>BACK</span><span>END</span>
      </div>
    </div>
    <div
      class="bg-wine icon-bug_report grid place-items-center text-zinc-100 text-9xl overflow-hidden"
    >
    </div>
    <div
      class="relative bg-neutral-50 dark:bg-neutral-950 text-wine tracking-wider font-bold grid justify-center items-center content-center text-center overflow-hidden"
    >
      <span
        class="icon-memory absolute w-full h-full grid place-items-center opacity-5 dark:opacity-10 text-[180pt] md:max-lg:text-[140pt]"
      ></span>
      <span class="relative text-3xl">Automation</span>
      <span class="relative text-5xl">script</span>
      <span class="relative icon-bolt mt-4 text-translucent text-6xl"></span>
    </div>
    <div
      class="relative sm:col-start-1 sm:col-end-3 md:col-start-2 md:col-end-4 bg-neutral-50 dark:bg-neutral-950 grid gap-2 justify-center items-center content-center text-center text-wine overflow-hidden"
    >
      <span
        class="icon-security absolute -right-[60pt] text-[180pt] opacity-5 dark:opacity-10 sm:max-md:!opacity-100 lg:!opacity-100"
      ></span>
      <span class="relative text-4xl tracking-wider"
        ><b>Ethical hacking</b></span
      >
      <span class="relative text-translucent text-2xl">&</span>
      <span class="relative text-3xl">Hacking <b>NO</b> Ethical</span>
    </div>
  </div>
</section>
