---
import MainLayout from "../layouts/main.layout.astro";
import Header from "../components/header/header";
import Home from "../components/home/home.astro";
import Services from "../components/services/services.astro";
import Contact from "../components/contact/contact";
---

<MainLayout title="Services | Gusstavo">
  <Header client:only />
  <Home />
  <Services />
  <Contact client:load />
  <footer
    class="bg-neutral-50 dark:bg-neutral-950 h-60 grid place-items-center overflow-hidden"
  >
    <span class="icon-bug_report text-[400pt] -translate-y-24 opacity-5"></span>
  </footer>
</MainLayout>
