---

---

<section
  id="home"
  class="w-full min-h-screen flex flex-col px-5 pt-28 pb-8 sm:pb-0 gap-20"
>
  <div class="flex-1 grid content-center gap-2">
    <h1
      class="text-2xl flex flex-wrap sm:block sm:text-center md:text-3xl xl:text-4xl"
    >
      Make your pages&nbsp;<b class="text-wine">an experience</b>
    </h1>
    <h2
      class="sm:text-center text-wine-secondary dark:text-wine-secondary-dark md:text-xl xl:text-2xl"
    >
      Transform your online presence with our Custom Web Design.
    </h2>
  </div>
  <div class="grid gap-10 pb-12">
    <p
      class="text-justify sm:text-center text-pretty max-w-[38rem] mx-auto opacity-75"
    >
      Welcome to <span translate="no">AC!D-OS</span>, where we transform simple
      pages web in unforgettable digital experiences. We are dedicated to
      creating sites websites that captivate your audience, enhance your brand,
      and They turn visitors into engaged customers.
    </p>
    <cite
      class="text-wine-secondary dark:text-wine-secondary-dark text-center opacity-60"
    >
      Are you ready to take your online presence to the next level?
    </cite>
    <div
      class="flex items-center justify-center gap-1 text-xl text-translucent sm:hidden"
    >
      <div class="icon-mouse"></div>
      <div class="relative grid place-items-center">
        <div class="icon-keyboard_arrow_down absolute translate-y-1"></div>
        <div class="icon-keyboard_arrow_down absolute -translate-y-1"></div>
      </div>
    </div>
  </div>
</section>
